{{ trac_host | default('localhost') }}:{{ trac_port | default('5432') }}:{{ trac_database | default('trac_mla') }}:{{ trac_user | default('trac_mla') }}:{{ trac_user_password | default('password') }}
